1 - Be respectful to all members of the server.
2 - I am not allowed to pass links from other servers.
3 - Advertising is not permitted without the consent of the administrator.
4 - Any toxic attitude that could be annoying for the users of the server is forbidden.
5 - It is forbidden to disturb, interrupt in text or voice channels, trying to interrupt or generate a conflict between one or more members.
